body {
    background: url(images/Resound@2x.png);
    background-size:cover;
    background-repeat:no-repeat;
   font-family: 'Poppins', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#msform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#progressbar {
    margin-top: 90px;
}
fieldset {
    width: 50vw;
    height: 50vh;
    background: #fff;
    border: 0;
    border-radius: 15px;
    padding: 60px;
}
h2 {
    color: #683191;
    font-size: 36px;
}
span.btn {
    font-size: 18px;
    color: #683191;
}
.btns {
    margin: 20px auto;
}
input[type=button] {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: #F3534A;
    border-radius: 5px;
    border: 0;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 40px;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 1;
  }
  input[type="radio"] {
    transform: scale(.7);
    appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    position: initial;
    border: 2px solid #683191;
    border-radius: 50%;
    left: 22px;
    cursor: pointer;
  }
  input[type="radio"]:checked {
    content: "";
    width: 30px;
    height: 30px;
    background: #683191;
    position: initial;
    left: 22px;
    box-sizing: border-box;
    border-radius: 50%;
  }
  input.next.action-button {
    position: absolute!important;
    left: 68%!important;
  }
  #progressbar li {
    list-style: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 5px solid #683191;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 21%;
    font-size: 36px;
    font-weight: 600;
    color: #683191;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}