body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.mv-navibar--shadow {
    z-index: 99999;
    background: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.mv-container {
    max-width: 1200px;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.mv-navibar__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.mv-navibar__logo {
    display: flex;
    margin-right: auto;
}
.mv-navibar__logo a{
    text-decoration: none;
    color: #332A86;
    font-weight: 700;
}
.navbar-scroll {
    transform: translateZ(0);
    transition: all .3s ease-out;
}
.flex a {
    text-decoration: none;
    color: #332A86;
}
.flex a:hover, .mv-navibar__logo a:hover {
    opacity: 0.5;
}
.flex a:first-child {
    margin-right: 2.5rem;
}
.inner-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem 6.5rem;
}
.left-col_wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.left-col_h2 {
    font-size: 48px;
    color: #332A86;
    line-height: 1.2;
    margin-bottom: 15px;
}
.left-col_p {
    color: #736BBE;
}
.left-col_a {
    text-decoration: none;
    background: #F28D1E;
    color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 30px;
    font-weight: 500;
}
.left-col_a:hover{
    background: #fff;
    color: #F28D1E;
    border: 2px solid #F28D1E;
}
.right-col_img {
    width: 600px;
}
